@model IEnumerable<atividade_convidado.Models.Convidado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Confirmados">Ver confirmados</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comparecimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.comparecimento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ConvidadoId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ConvidadoId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ConvidadoId })
            </td>
        </tr>
}
    </tbody>
</table>
